# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environments
web-venv/
.venv/
venv/
env/
.env

# OS junk

desktop.ini
.DS_Store

# IDE

.vscode/
.idea/

# Streamlit cache

.streamlit/secrets.toml

# Build artifacts

dist/
build/
